.App {
  text-align: center;
  background-color: antiquewhite;
}
.cart-wrapper{
  border: 3px solid green;
  height: 300px;
  width: 400px;
  margin: auto;
  /* float: left; */
  display: inline-block;
  /* padding: 5px; */
}
.img-item img{
  height: 300px;
  width: 200px;
  border: 2px solid red;
  border-radius: 10px ;
  display: flex;
}
.text-item{
  font-size: 15px;
  color:  gray;
  font-weight: 500;
}
.Price-wrapper{
  background-color: brown;
  border: 1px solid black;
  height: 20px;
  width: 100px;
  margin: auto;

}
.btn-wrapper button{
  background-color: lightgreen;
  height: 30px;
  width: 80px;
  border: 2px solid blue;
  border-radius: 5px;
  box-shadow: gray  0 1px 5px;
}

.add-to-cart img{

    width: 60px;
    height: 50px;
    float: right;
    right: 1%;
    top : 1%;
}